.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

/* @media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */

.CheckoutSummary div img {
  width: 40%;
  height: 60%;
  margin-right: 10;
  margin-left: 5;
  margin-bottom: 0;
  margin-top: 12;
}

.Box {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .Box {
    width: 500px;
  }
}

@media (min-width: 500px) and (min-height: 400px) {
  .img {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .img {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .img {
    width: 700px;
    height: 600px;
  }
}
